/* *{
    border:1px solid black;
  } */
  @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

  html{
      font-family:"Architects Daughter";
      background:url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap')
  }
  .main{
    width:100%;
    background:#506a6e;
    border-radius:3rem;
  }
  h1{
    margin-left:1%;
    margin-top:3%;
    margin-bottom:-0.5%;
    font-family: "Comfortaa";
    background:url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
    font-size:4rem;
    color:rgb(143, 172, 169);
    
  }
  .navbar{
    margin-left:5%;
    width:30%;
    font-size:1.3rem;
    display:flex;
    flex-direction:row;
    flew-wrap:wrap;
    
  }
  .Home{
    text-decoration:none;
    color:black;
    border:1px solid black;
    padding:.7rem;
    background:rgb(16, 65, 68);
    border-radius:.2rem;
    color:grey;
  }
  .Home:hover{
    text-decoration:none;
    color:black;
    border:1px solid black;
    padding:.7rem;
    background:rgb(56, 205, 212);
    border-radius:1rem;
    color:rgb(124, 108, 108);
  }
  .About{
    text-decoration:none;
    color:black;
    border:1px solid black;
    padding:.7rem;
    background:rgb(16, 65, 68);
    border-radius:.2rem;
    color:grey;
  }
  .About:hover{
    text-decoration:none;
    color:black;
    border:1px solid black;
    padding:.7rem;
    background:rgb(56, 205, 212);
    border-radius:1rem;
    color:rgb(124, 108, 108);}
  .Projects{
    text-decoration:none;
    color:black;
    border:1px solid black;
    padding:.7rem;
    background:rgb(16, 65, 68);
    border-radius:.2rem;
    color:grey;
  }

  .Projects:hover{
    text-decoration:none;
    color:black;
    border:1px solid black;
    padding:.7rem;
    background:rgb(56, 205, 212);
    border-radius:1rem;
    color:rgb(124, 108, 108);
}

  .Contact{
    text-decoration:none;
    color:black;
    border:1px solid black;
    padding:.7rem;
    background:rgb(16, 65, 68);
    border-radius:.2rem;
    color:grey;
  }
  .Contact:hover{
    text-decoration:none;
    color:black;
    border:1px solid black;
    padding:.7rem;
    background:rgb(56, 205, 212);
    border-radius:1rem;
    color:rgb(124, 108, 108);
}
  
  .container1 img{
    border-radius:.5rem;
    margin-left:9%;
    margin-bottom:-8%;
    margin-top:3%;
    width:19rem;
    height:30%;
    
  }
  
   h2{
    margin-left:50%;
    margin-top:-1%;
    width:24rem;
    font-family: "Comfortaa";
    background:url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
    font-size:3rem;
    
  }
  
  .container1 button{
    margin-left:50%;
    font-size:2rem;
    font-family:"Architects Daughter";
    background:url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
    background:rgb(16, 65, 68);
    border-radius:1rem;
    color:rgb(190, 180, 180);
    
  }
  .container1 button:hover{
    margin-left:50%;
    font-size:4rem;
    font-family:"Architects Daughter";
    background:url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
    background:#688a8f;
    border-radius:6rem;
    color:rgb(190, 180, 180);
  }
  .container1 p{
   
    margin-left:50%;
    margin-right:10%;
    font-size:2rem;
     width:30rem;
  }
  
  .container2{
    width:100%;
    height:42rem;
    display:flex;
    flex-direction:column;
    
  }
  .row1{
      display:flex;
      justify-content: space-evenly;
  }
  .row2{
      margin-top: 2rem;
      display:flex;
      justify-content: space-evenly;
  }    
  
    .one{
    border-radius:10px;
    width:15rem;
    height:15rem;
  }
    .two{
    border-radius:10px;
    width:15rem;
    height:15rem;
  }
  .container2 .three{
    border-radius:10px;
    width:15rem;
    height:15rem;
  }
  .container2 .four{
    border-radius:10px;
    width:15rem;
    height:15rem;
  }
  .container2 .five{
    border-radius:10px;
    width:15rem;
    height:15rem;
  }
  .container2 .six{
    border-radius:10px;
    width:15rem;
    height:15rem;
  }
  .container2 .seven{
    border-radius:10px;
    width:15rem;
    height:15rem;
  }
  .container2 .eight{
    border-radius:10px;
    width:15rem;
    height:15rem;
  }
  
  .footer{
    display:flex;
    flex-direction:column;
    align-items: center;
   
  }
  
  .footer button{
    font-size:1.5rem;
    font-family: "Comfortaa";
    background:url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
    border-radius:20%;
    background-color: teal;
    color:rgb(190, 180, 180);
  }
   .footer button:hover{
        font-size:1.5rem;
        font-family: "Comfortaa";
        background:url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
        border-radius:20%;
        background-color: white;
        color:rgb(190, 180, 180);
  }
  .footer p{
     font-size:4rem;
     text-align:center;
     width:25%;
     
    
    }